/* Define all the colors */

$color__white: #FFF;
$color__black: #000;
$color__purple: #5b3392;
$color__red: #e3211e;
$color__mblue: #0084a8;
$color__lblue: #b6dfe5;
$color__grey: #d7d7d7;
$color__lgrey: #ebebeb;
$color__dgrey: #b3b1b1;
$color_nav_txt: #6c6c70;
$color_cal_green: #00e1a3;
$color_cal_lblue: #2fb7dc;
$color_bg_grey: #e9e9eb;

/* Color Mixin */
