
@import "normalize";
@import "colors";
@import "typography";


/* Variables */


/* Mixins */

@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

/* Remove all margin and padding */
@mixin removespace{
  margin:0px;
  padding: 0px;
}

/* Center block */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin clr($height){
  height: $height;
  overflow: hidden;
  width: 100%;
}

@mixin removespace {
    margin: 0;
    padding: 0;
}

@mixin clr($pixel){
  clear:both;
  width:100%;
  overflow: hidden;
  height: $pixel;
}

@mixin square_bracket{
  font-weight: bold;
  &:before{
    content: "[";
    padding-right: 10px;
    display: inline-block;
  }
  &:after{
    content: "]";
    padding-left: 10px;
    display: inline-block;
  }
}

@mixin square_bracket_btn($color){
    border-width:0px;
    display: block;
    color: $color;
    background-color: transparent;
    font-weight: bold;
    @include removespace;
    &:hover{
      text-decoration: underline;
    }

    &:before{
      content: "[";
      padding-right: 10px;
      display: inline-block;
    }
    &:after{
      content: "]";
      padding-left: 10px;
      display: inline-block;
    }

}

/* Common Styles */

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,html {

  color: $color__black;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

html { font-size: 62.5%; }
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */
h2

blockquote, q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  background-color:$color__black;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}

.clr5{
  @include clr(5px);
}
.clr10{
  @include clr(10px);
}
.clr20{
  @include clr(20px);
}
.clr30{
  @include clr(30px);
}
.clr50{
  @include clr(50px);
}
.clr100{
  @include clr(100px);
}

.toleft{float: left;}
.ml15{
  margin-left: 15px;
}
.toright{ float: right;}
.no-padding{  padding: 0;  }
.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}

.square_link_red{
  color:$color__red;
  display: block;
  @include square_bracket;
}

.square_link_white{
  color:$color__white;
  display: block;
  @include square_bracket;
}

.square_btn_blue{
  @include square_bracket_btn($color__mblue);
  font-size: 1.4rem;
}
.square_btn_purple{
  @include square_bracket_btn($color__purple);
  font-size: 1.4rem;
}

.border_btn_purple, .border_btn_white, .border_btn_blue, .border_btn_reverse{
  @include removespace;
  line-height: normal;
  font-family:'Open Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.border_btn_blue{

  border: solid 1px $color__mblue;
  background-color: transparent;
  color: $color__mblue;

  &:hover{
    background-color: $color__mblue;
    color: $color__white;
  }


  &:disabled{

    opacity: 0.6;
    color: $color__dgrey;
    &:hover, &:focus{
      @include removespace;
      padding: 5px 15px;
    }
  }

}

.border_btn_purple{

  border: solid 1px $color__purple;
  background-color: transparent;
  color: $color__purple !important;

  &:hover{
    background-color: $color__purple;
    color: $color__white !important;
  }


  &:disabled{
    color: $color__dgrey;
    opacity: 0.6;
    &:hover, &:focus{
      @include removespace;
      padding: 5px 15px;
    }
  }


}

.border_btn_reverse{

  border: solid 1px $color__white;
  background-color: transparent;
  color: $color__white;

  &:hover{
    background-color: $color__black;
    color: $color__white;
  }

  &:disabled{
    color: $color__dgrey;
    opacity: 0.6;
    &:hover, &:focus{
      @include removespace;
      padding: 5px 15px;
    }
  }
}

.border_btn_white{

  border: solid 1px $color_nav_txt;
  background-color: transparent;
  color: $color_nav_txt;

  &:hover{
    background-color: $color__black;
    color: $color__white;
  }

  &:disabled{

    color: $color__dgrey;
    opacity: 0.6;
    &:hover, &:focus{
      @include removespace;
      padding: 5px 15px;
    }
  }
}




input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea{
  border: solid 1px $color__grey;
  height: 30px;
  font-size: 1.4rem;

  &:focus{
    border: solid 1px $color__purple;
  }
}

.input_full_width{
  width: 100%;
}

.content-entry{
  line-height: 140%;

  ol,ul{
    li{
      padding-bottom: 10px;
    }
  }
  p{
    padding-bottom: 10px;
  }

  h3{
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 10px;
    color: $color_nav_txt;
  }
  h4{
    font-weight: bold;
    font-size: 1.6rem;
    color: $color__mblue;
  }
}

.em-form{
  padding: 15px;
  background-color: $color_bg_grey;
}

.numberCircle {

  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  -moz-border-radius: 10px; /* or 50% */
  border-radius: 10px; /* or 50% */
  border: 1px solid $color__dgrey;

  color: $color_nav_txt;
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
}

hr.form-divider{
  height: 1px;
  border: 0;
  width: 100%;
  background-color: $color__dgrey;
}