// Here you can add other styles

//overwrite

.main{
  .btn{
    font-size: 1.2rem;
  }
  button{
    font-family: Verdana, sans-serif;
    letter-spacing: normal;
    text-transform: capitalize;
  }
}


/* Admin Style for Ethical Charter */
#ethical-charter-admin-login-panel{
  display: block;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .main-logo {
    width: 500px;
  }
}

//general Styles
.admin-name{
  color: $color__purple;
  font-weight: bold;
  padding-right: 40px;
}


//landing page

.row-eoi-list{

  h2{
    color: $gray;
    font-size: 1.5rem;
    font-weight: bold;
  }
}


//form

.card{
  .card-block{
    .sub-heading{
      @include removespace;
      font-size: 1.4rem;
      color: $gray;
      font-weight: bold;
      padding: 10px 0;
    }
  }
}

//footer
.app-footer{
  font-size: 1.2rem;
  color: $color__purple;
  a{
    color: $gray-dark;
  }
}